<html>
    <head>
        <!--bower:css-->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
        <!--endbower-->
        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/angular/angular.js"></script>
        <script src="/lib/angular-mocks/angular-mocks.js"></script>
        <script src="/lib/angular-route/angular-route.js"></script>
        <!-- endbower -->
        
        <!--inject:js-->
        <script src="/app/app.js"></script>
        <script src="/app/app.routes.js"></script>
        <script src="/syntax/letController.js"></script>
        <script src="/widget/widget.directive.js"></script>
        <!--endinject-->
        
        <base href="/">
    </head>
    <body>
        <h1>ES6 Experiments </h1>
        <div ng-app="app">
            <widget></widget>
            <a ng-href="/let">let</a>
            <div ng-view></div>
            
        </div>
    </body>
</html>