<html>
    <head>
        <!--bower:css-->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
        <!--endbower-->
        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/angular/angular.js"></script>
        <script src="/lib/angular-mocks/angular-mocks.js"></script>
        <!-- endbower -->
        
        <!--inject:js-->
        <script src="/app/app.js"></script>
        <script src="/syntax/example1.js"></script>
        <script src="/widget/widget.directive.js"></script>
        <!--endinject-->
    </head>
    <body>
        <h1>ES6 Experiments </h1>
        <div ng-app="app">
            <widget></widget>
            <div ng-controller="letConstBlockController">   
                <div style="BORDER: #cccccc 1px dashed; PADDING: 5px; WIDTH: 95%; BACKGROUND: #f0f0f0; COLOR: #000000; FONT-SIZE: 12px; OVERFLOW: auto; height:auto"><pre>for (let i = 0; i &lt; 2; i++) {
    $scope.output.push(&#39;i = &#39; + i);
}

try {
    $scope.output.push(&#39;after for loop\ni = &#39; + i);                    
} catch (exception) {
    $scope.output.push(exception.message);
}</pre></div>           
                <button ng-click="run()">Run</button>
                <button ng-click="clear()">Clear</button>                
                <div ng-repeat="line in output" >{{line}}</div>
                
            </div>
        </div>
    </body>
</html>